body {
    margin: 0%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/calvin.jpg");
}

.content {
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 1);
}

#kaomoji{
    margin-top: 2.5vw;
    color: #fff;
    font-family: 'Fira Code';
    font-size: 2vw;
    text-align: center;
}

#time {
    margin-left: 2vw;
    margin-right: 2vw;
    color: #fff;
    font-family: 'Fira Code';
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 5px 4px rgba(255, 255, 255, 0.5);
}

#bookmarks {
    margin-top: 0px;
    padding: 0%;
    margin-bottom: 2vw;
    list-style-type: none;
    text-align: center;
}

#bookmarks li {
    display: inline-block;
    transition: 0.2s;
}

#bookmarks li:hover {
    transform: scale(1.2);
}

#bookmarks img {
    width: 3vw;
}
